streamlit
groq
PyGitHub
duckduckgo-search
streamlit-autorefresh
google-genai
scikit-learn
scipy
plotly
pyTelegramBotAPI
instaloader
requests
gTTS
fpdf
tavily-python
edge-tts
beautifulsoup4
pip install tavily
