streamlit
pandas
requests
python-dotenv
gtts
groq
beautifulsoup4
fpdf2
arabic-reshaper
python-bidi
PyGitHub
duckduckgo-search
streamlit-autorefresh
google-genai
scikit-learn
scipy
plotly
pyTelegramBotAPI
instaloader
tavily-python
edge-tts
supabase
google-generativeai
openpyxl
matplotlib
seaborn
numpy
